.App {
  font-family: sans-serif;
  text-align: center;
}

.example {
  margin: 10px;
}

.example .content {
  border: 1px solid #ccc;
  padding: 10px;
}

.selected {
  outline: 1px solid red;
}

.flash {
  outline: 2px solid blue;
}